.sidebarComponent {
  width: 18vw;
  height: 100vh;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  border-right: 1px solid #d9d9d9;
}
@media (max-width: 1000px) {
  .sidebarComponent {
    width: 28vw;
  }
}

.sidebarComponent .shrink {
  width: 5vw;
}

.sidebarComponent .sidebarComponent__logo-div {
  width: 18vw;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1rem 1.4rem;
}
@media (max-width: 1000px) {
  .sidebarComponent .sidebarComponent__logo-div {
    width: 28vw;
  }
}
.sidebarComponent .sidebarComponent__logo-div .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30rem; */
}
.sidebarComponent .sidebarComponent__logo-div .logo-img-con {
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebarComponent .sidebarComponent__logo-div .logo-con {
  display: flex;
  align-items: center;
}
.sidebarComponent .sidebarComponent__logo-div .full-logo-con {
  display: flex;
  align-items: center;
  /* background-color: green; */
}
.sidebarComponent .sidebarComponent__logo-img {
  /* width: 9.8rem; */
  height: 3.4rem;
  /* border: 1px solid red; */
}

.sidebarComponent .sidebarComponent__navbar {
  overflow: scroll;
  top: 0;
  bottom: 0px;
  padding: 0 1.4rem;
  /* height: 80vh; */
  height: 88vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: rgba(0, 128, 0, 0.143); */
}
.sidebarComponent .nav-items-wrapper {
  margin-top: 2.4rem;
}

.sidebarComponent .nav-items-wrapper .loader {
  height: 4rem;
  margin-bottom: 1.5rem;
}

.sidebarComponent .nav-items-wrapper .title {
  margin-bottom: 1.5rem;
}

.sidebarComponent .sidebarComponent__navbar .nav-items-con,
.sidebarComponent .sidebarComponent__navbar .nav-items-con2 {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 1rem;
}

.sidebarComponent .sidebarComponent__navbar .nav-items-con2 .nav-item p {
  font-size: 1.2rem;
}

.sidebarComponent .sidebarComponent__navbar .nav-items-con2 .nav-item img {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.sidebarComponent .sidebarComponent__navbar .nav-item {
  /* margin: 1.5rem 0; */
  width: 100%;
  /* background-color: green; */
  /* font-size: 40px; */
}

/* .sidebarComponent .sidebarComponent__navbar .nav-item .activeNav {
  background: linear-gradient(109deg, rgba(192, 207, 254, 0.1) 0.42%, rgba(243, 223, 244, 0.1) 57.74%, rgba(249, 216, 229, 0.1) 98.62%);
}

.sidebarComponent .sidebarComponent__navbar .nav-item .NavItem_Wrapper:hover {
  background: linear-gradient(109deg, rgba(161, 176, 223, 0.1) 0.42%, rgba(136, 113, 138, 0.1) 57.74%, rgba(189, 148, 164, 0.1) 98.62%);
} */

.sidebarComponent .sidebarComponent__logo-div .logo-fill img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebarComponent .sidebarComponent__shrink {
  cursor: pointer;
}
.sidebarComponent .sidebarComponent__shrink .chevron {
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: 0 !important;
  transform: rotate(360deg);
}
.sidebarComponent .sidebarComponent__shrink .chevron-2 {
  transform: rotate(180deg);
  margin: 0 0 0 0;
  display: none;
}
