.sidebarComponent {
  height: 100vh;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
@media (max-width: 1000px) {
  .sidebarComponent {
    width: 28vw;
  }
}

.sidebarComponent .shrink {
  width: 5vw;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.sidebarComponent .sidebarComponent__logo-div {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem 1.4rem;
}
@media (max-width: 1000px) {
  .sidebarComponent .sidebarComponent__logo-div {
    width: 28vw;
  }
}
.sidebarComponent .sidebarComponent__logo-div .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30rem; */
}
.sidebarComponent .sidebarComponent__logo-div .logo-img-con {
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebarComponent .sidebarComponent__logo-div .logo-con {
  display: flex;
  align-items: center;
}
.sidebarComponent .sidebarComponent__logo-div .full-logo-con {
  display: flex;
  align-items: center;
  /* background-color: green; */
}
.sidebarComponent .sidebarComponent__logo-img {
  /* width: 9.8rem; */
  height: 3.4rem;
  /* border: 1px solid red; */
}

.sidebarComponent .sidebarComponent__navbar {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
}
.sidebarComponent .nav-items-wrapper {
  margin-top: 2.4rem;
}

.sidebarComponent .nav-items-wrapper .loader {
  height: 4rem;
  margin-bottom: 1.5rem;
}

.sidebarComponent .nav-items-wrapper .title {
  margin-bottom: 1.5rem;
}

.sidebarComponent .sidebarComponent__navbar .nav-items-con,
.nav-items-con2 {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 1rem;
}

.sidebarComponent .sidebarComponent__navbar .nav-items-con2 .nav-item p {
  font-size: 1.2rem;
}

.sidebarComponent .sidebarComponent__navbar .nav-items-con2 .nav-item img {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.sidebarComponent .sidebarComponent__navbar .nav-item {
  width: 100%;
}

.sidebarComponent .sidebarComponent__logo-div .logo-fill img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebarComponent .sidebarComponent__shrink {
  cursor: pointer;
}
.sidebarComponent .sidebarComponent__shrink .chevron {
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: 0 !important;
  transform: rotate(360deg);
}
.sidebarComponent .sidebarComponent__shrink .chevron-2 {
  transform: rotate(180deg);
  margin: 0 0 0 0;
  display: none;
}
